################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhotoCabinet/.vs/PhotoCabinet/v16
/PhotoCabinet/.vs/PhotoCabinet/DesignTimeBuild
/.vs/PhotoCabinet
/PhotoCabinet/bin/Debug/netcoreapp2.2
/PhotoCabinet/obj/Debug/netcoreapp2.2
/PhotoCabinet/obj
/PhotoCabinetTest/bin/Debug/netcoreapp2.2
/PhotoCabinetTest/obj
/PhotoTest
